In [1]:
import pandas as pd
import os
import json

## Read a single JSON

Define a function called read_json. Given a string representing a file path to a json file, this function should open said file and convert its contens into a json object.

In [2]:
# implement me
def read_json(file_path):
    file = open(file_path, 'r')
    data = json.load(file)
    file.close()
    return data

Use the read_json function defined above to read the contents of one of the locations_4.json file acquired in the Data Acquisition Lab.

In [3]:
file_path = os.path.join('./', 'data', 'locations', 'locations_4.json')
json_contents = read_json(file_path)

Display the value of the json_contents variable defined above.

In [4]:
json_contents['metadata']

{'resultset': {'offset': 4001, 'count': 38862, 'limit': 1000}}

## Convert JSON Into a DataFrame

Using the json_contents variable, create a Pandas dataframe.

In [5]:
# Create DataFrame here.
df = pd.DataFrame(json_contents['results'])

Display the contents of the DataFrame.

In [6]:
# Display contents of the DataFrame here.
df

        mindate     maxdate                     name  datacoverage          id
0    1905-05-08  2021-11-17      Phillips County, MT           1.0  FIPS:30071
1    1911-03-01  2021-11-17       Pondera County, MT           1.0  FIPS:30073
2    1893-02-01  2021-11-17  Powder River County, MT           1.0  FIPS:30075
3    1893-01-01  2021-11-17        Powell County, MT           1.0  FIPS:30077
4    1904-11-01  2021-11-17       Prairie County, MT           1.0  FIPS:30079
..          ...         ...                      ...           ...         ...
995  1915-04-01  2021-11-18      Gonzales County, TX           1.0  FIPS:48177
996  1907-01-27  2021-11-18          Gray County, TX           1.0  FIPS:48179
997  1897-05-01  2021-11-18       Grayson County, TX           1.0  FIPS:48181
998  1902-01-01  2021-11-18         Gregg County, TX           1.0  FIPS:48183
999  1914-06-01  2021-11-17        Grimes County, TX           1.0  FIPS:48185

[1000 rows x 5 columns]

How many records are in the DataFrame? How many columns does each record have?

In [7]:
df.shape

(1000, 5)

Filter the contents of the DataFrame to only show records where the name column contains the string "Durham".

In [8]:
df.query('name.str.contains("Durham")')

        mindate     maxdate               name  datacoverage          id
295  1891-01-01  2021-11-17  Durham County, NC           1.0  FIPS:37063

## Read Multiple JSON Files

Define a function called read_all_json_files. Given a string representing a path to a directory, this function should read all of the json files and return a Pandas DataFrame containing all of the objects. In addition to the data from the files, this DataFrame should also contain an additional column called "source". The source column should be populated with the name of the file from which this record originated from.

In [12]:
# implement me
def read_all_json_files(JSON_ROOT):
    df = pd.DataFrame()
    for file_name in os.listdir(JSON_ROOT):
        if file_name.find('locations') == -1:
            continue
        file_path = 'data/locations/' + file_name
        data = read_json(file_path)
        for obj in data['results']:
            obj['source'] = file_name
        df = df.append(data['results'])
    return df

Use the read_all_json_files function above to read the contents of all locations file acquired in the the Data Acquisition Lab.  
Hint: It is easier if you put all of those files in a dedicated subdirectory ex: (./data/locations/)

In [13]:
df = read_all_json_files('./data/locations')

In [14]:
df

,mindate,maxdate,name,datacoverage,id,source
0,1948-05-01,2021-11-17,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
1,1995-05-08,2021-11-17,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
2,1955-11-01,2021-11-17,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
3,1997-03-06,2021-11-17,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
4,1995-05-08,2021-11-17,"Jeffersonville, VT 05464",1.00,ZIP:05464,locations_10.json
...,...,...,...,...,...,...
995,1994-06-15,2021-11-17,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
996,1972-01-01,2021-11-17,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
997,1894-01-01,2021-11-17,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
998,1994-06-15,2021-11-17,"Plymouth Meeting, PA 19462",1.00,ZIP:19462,locations_13.json
999,1894-01-01,2021-11-18,"Pottstown, PA 19464",1.00,ZIP:19464,locations_13.json

What is the shape of the DataFrame? Does this match the number of columns and records you expected?

In [ ]:
# Validate the shape of the DataFrame here
df.shape

Show the first few records of the DataFrame.

In [ ]:
# Show the first few records
df.head()

Show the last few records of the DataFrame.

In [ ]:
# Show the last few records
df.tail()

## Validate Records Are Unique

Provide two different ways to determine there are no duplicate records.  
Hint: The id field should be unique.

In [ ]:
# one day to determine there are not duplicate records
df.id.duplicated().sum()

In [ ]:
# another way to determine there are no duplicate records
len(df.id.unique()) == len(df)

# Peking In

Show the record with id "CITY:TU000041". Which file did it come from?

In [ ]:
# 
df[df.id == 'CITY:TU000041'].source

Show the record with id "CLIM:0405". Which file did it come from?

In [ ]:
# 
df[df.id == 'CLIM:0405'].source

How many unique values are there for the source column in the DataFrame?

In [ ]:
# 
len(df.source.unique())

How many records did the locations_38.json file contain?

In [ ]:
# 
len(df[df.source == 'locations_38.json'])

We will work with this DataFrame in a subsequent part of the lab. Instead of repeating all of this work again, let's export the DataFrame to a pickled file.

In [ ]:
# export DataFrame to a pickled file called locations_data_frame.pickle. Save it to the data directory.
df.to_pickle('locations_dataframe_to_pickle.pickle')
pd.read_pickle('locations_dataframe_to_pickle.pickle')